#tablero {
    width: 100%;
    text-align: center;
}

#resultados {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#resultados .caja-contador {
    text-align: center;
    padding: 10px;
    border: 1px solid white;
}

#resultados .caja-contador .contador {
    height: 4vw;
    width: 10vw;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;

}

#resultados .caja-contador .contador p{
    font-size: 3rem; /* !Acomodar unidad de medida para que sea responsiva*/
    font-weight: 500;
}

#resultados div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


